{
  "extends": "airbnb-base",
  "globals": {
    "test": "readonly",
    "expect": "readonly",
    "document": "readonly"
    },
  "rules": {
    "no-console": "off",
    "linebreak-style": 0
    }
}
