:root {
  --grid-size: 300px;
  --cell-size: 30px;
}

h1 {
  color: red;
}
.grid-container {
  display: flex;
}
.home-grid {
  margin-right: 10px;
}
.away-grid {
}
.grid-row {
  display: flex;
}
.cell {
  /* width: calc((var(--grid-size) / 5 ) - 5px);
  height: calc((var(--grid-size) / 5 ) - 5px); */
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid 1px;
  text-align: center;
}
