:root {
  --grid-size: 300px;
  --cell-size: 30px;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #126ea6;
}
.grid-container {
  display: flex;
}
.home-grid {
  margin-right: 10px;
}
.away-grid {
}
.grid-row {
  display: flex;
}
.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: solid 1px;
  text-align: center;
}
button {
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  color: white;
  background-color: #1d82bf;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}